<nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <%= link_to  "Icon", root_path, class: "navbar-brand core-sprite hide-text" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="form-inline my-2 my-lg-0 ml-md-auto">
            <input class="form-control mr-sm-2 text-center" type="search" placeholder="Search" aria-label="Search">
          </form>
          <ul class="navbar-nav ml-md-auto">
            <li class="nav-item">
              <a class="nav-link core-sprite explore-icon hide-text" href="#">Explore</a>
            </li>
            <li class="nav-item">
              <a class="nav-link core-sprite notification-icon hide-text" href="#">Notification</a>
            </li>
            <li class="nav-item">
              <a class="nav-link core-sprite profile-icon hide-text" href="#">Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>